<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.adjuvan.hairclinic" android:installLocation="auto" android:versionName="1.5" android:versionCode="5">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="28" />
	<application android:label="Adjuvan Clinic" android:icon="@drawable/logoandroid"></application>
</manifest>